*{
	font-family: 'Varela Round', sans-serif;
}
hr{
	border-top: 2px solid #ecf0f1;
}
#welcome {
  
  	margin: 0;
  	padding: 250px 0 250px 0;
  	/*background-color: #ecf0f1;
  	background-image: url("../assets/particle-background.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 50% 50%;*/
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
/*#particles-js{
	width: 100%;
  	height: 100%;
}*/
#welcome p{
	margin: 0;
	color: white;
	width: 100%;
  	height: 100%;
  	padding: 50px;
  	font-size: 3em;
  	font-weight: bolder;
}
#mySidebar a{
	padding: 30px;
	width: 100%;
	color: grey;
}
#mySidebar a:hover{
	background-color: none;
	text-decoration: none;
	color: black;
}
#nav{
	background-color: #3B3C36;
	z-index: 1;
}
#menu-button{
	color:#ecf0f1; 
	background-color: transparent; 
	border: none;
}
#menu-button:hover{
	color: #3B3C36;
	background-color:#ecf0f1;
	border: none;
}
#nav li{
	margin-left: 10px;
	margin-right: 10px;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}
.info-section{
  	/*background-image: url("../assets/gradient-black.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 50% 50%;*/
  	color: #ecf0f1;
}
.info-section p{
	padding: 15px;
}
.row{
	width: 100%;
	margin:0;
}
.info-section .row{
	padding-top: 25px;
  	padding-bottom: 25px;
}
.info-section .row .col-md-4{
	padding: 0;
}
.specialized{
	width: 100%;
	height: 100%;
}
.specialized .col-md-6{
	margin: 0;
	padding: 0;
	height: 700px;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 50% 50%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.specialized .col-md-6 p{
  	font-size: 2.5em;
  	font-weight: bolder;
  	text-shadow: 2px 2px 1px black;
}

.info-section-logo{
	background-color: #ecf0f1; 
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.info-section-text{
	background-color: #3B3C36;
	padding-bottom: 100px;
  	padding-top: 100px;

}
.info-section-dev-gif{
	background-color:#E4E4E4;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 100px 0  100px 0;
}
.info-section-dev-gif img{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.info-section-dev-gif .text-left{
	padding: 50px;
}
.info-section-dev-gif .text-right{
	padding: 50px;
}
.info-section img{
	margin-bottom: 20px;
}
.info-section .col-md-4{
	margin-bottom: 50px;
}

.title-paragraph{
	margin: 50px 50px;
}
#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 2; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #F0F0F0 url('../assets/preload.gif') no-repeat center center; 
}

.center-text-hor-ver{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 600px;
}
.center-text-hor-ver .text{
	padding:100px;
	color: #ecf0f1; 
	
	font-weight: bolder; 
	margin: 0;

}
.section-d{
	background-image: url("../assets/product.gif");
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: 50% 50%;
  	background-color: #FAAF41;
  	height: 600px;
}
.section-d h2{
	padding-top: 50px;
}

html { font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size: 1rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.1rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.2rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.3rem; }
}